<h1>Head:</h1>

<table id="head_table">
  <%= render :partial => 'view', :collection => @head_pieces %>
</table>

<h1>Eyes:</h1>

<table id="eye_table">
  <%= render :partial => 'view', :collection => @eye_pieces %>
</table>

<%= link_to 'New', new_equipment_piece_path %>
