<%= link_to_remote 'Head', :update => 'eq_piece_div', :url => { :action => 'fetch_by_slot', :slot => "head" } %><br>
<%= link_to_remote 'Eyes', :update => 'eq_piece_div', :url => { :action => 'fetch_by_slot', :slot => "eyes" } %><br><br>

<table id="eq_piece_table">
<div id="eq_piece_div">
</table>
