<%=h @stat.name %> (<%=h @stat.abbreviation %>)

<h2>Equipment Pieces:</h2>
<table>
<% for mod in @pieces %>
  <% piece = EquipmentPiece.find_by_id(mod.equipment_piece_id) %>
  <tr><td><b><%= link_to(piece.name, piece) %></b></td><td><%= mod.value %></td></tr>
<% end %>
</table>

